:root {
    --black: hsla(0, 0%, 0%, 1);
    --oxford-blue: hsla(221, 51%, 16%, 1);
    --oxford-blue-light: rgb(48, 63, 95);
    --orange-web: hsla(37, 98%, 53%, 1);
    --orange-web-light: rgb(252, 176, 55);
    --platinum: hsla(0, 0%, 90%, 1);
    --white: hsla(0, 0%, 100%, 1);

    --space-cadet: hsla(235, 21%, 21%, 1);
    --cool-gray: hsla(218, 17%, 62%, 1);
    --antiflash-white: hsla(197, 24%, 94%, 1);
    --red-pantone: hsla(353, 86%, 54%, 1);
    --fire-engine-red: hsla(350, 96%, 43%, 1);
}

@font-face {
    font-family: 'Roboto';
    src: url('../webfonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../webfonts/RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--space-cadet);
}

table {
    border-collapse: collapse;
    margin: 0.5rem 0.25rem 0.5rem 0.25rem;
    width: calc(100% - 0.25rem * 2);
    table-layout: auto;
    cursor: pointer;
    color: var(--space-cadet);
}

table thead tr th {
    font-weight: 400;
    border: 1px solid var(--antiflash-white);
    padding: 0.5rem;
    background-color: var(--antiflash-white);
    text-align: left;
}

table tbody tr {
    transition: 0.5s;
}

table tbody tr:hover {
    background-color: var(--antiflash-white);
}

table tbody tr td {
    border: 1px solid var(--antiflash-white);
    padding: 0.5rem;
    transition: 0.5s;
}

table tbody tr td:hover {
    background-color: var(--platinum);
}

form {
    margin: 0.15rem;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

form button {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin: 0.5rem 0.15rem 0.5rem 0.15rem;
    background-color: var(--oxford-blue);
    border: 1px solid var(--oxford-blue);
    color: var(--white);
    border-radius: 4px;
    transition: 0.5s;
}

form button:hover {
    background-color: var(--oxford-blue-light);
    border: 1px solid var(--oxford-blue-light);
    cursor: pointer;
}

form input {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    color: var(--space-cadet);
    padding: 0.5rem;
    margin: 0.5rem 0.15rem 0.5rem 0.15rem;
    border: 1px solid var(--cool-gray);
    border-radius: 4px;
    transition: 0.5s;
}

form input:hover {
    border: 1px solid var(--orange-web);
}

.sandway {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    display: grid;
    grid-template-columns: 4rem auto;
    grid-template-rows: 4rem auto;
    grid-template-areas:
        "menu header"
        "sidebar content";
}

.menu {
    grid-area: menu;
    background-color: var(--fire-engine-red);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu a {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--oxford-blue);
    color: var(--oxford-blue);
    border-radius: 4px;
    transition: 0.5s;
}

.menu a:hover {
    cursor: pointer;
    border: 1px solid var(--orange-web);
    background-color: var(--space-cadet);
    color: var(--orange-web);
}

.header {
    grid-area: header;
    background-color: var(--oxford-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--orange-web);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.content {
    grid-area: content;
    background-color: var(--white);
    color: var(--space-cadet);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    height: 100vh - 4rem;
    overflow-y: auto;
}

.content .panel {
    color: var(--space-cadet);
    border: 1px solid var(--antiflash-white);
    box-shadow: 0 0 2px var(--antiflash-white);
    border-radius: 4px;
    padding: 0.25rem;
    margin: 0.25rem;
}

.item {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .item {
    margin-left: 0.5rem;
}

.header .item a {
    height: 3rem;
    width: 3rem;
    color: var(--orange-web-light);
    border: 1px solid var(--orange-web);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.header .item a:hover {
    background-color: var(--oxford-blue-light);
    cursor: pointer;
}

.sidebar .item {
    margin-top: 0.5rem;
}

.sidebar .item a {
    width: 3rem;
    height: 3rem;
    color: var(--oxford-blue);
    border: 1px solid var(--oxford-blue);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.sidebar .item a:hover {
    background-color: var(--orange-web-light);
    cursor: pointer;
}